.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
    background-color: darkslategray;
    margin-bottom: 5rem;
}

body {
    background-color: darkgoldenrod;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.25rem;
    padding-top: 5rem;
}

.class-category {
    margin-top: 1rem;
}

.class-img img {
    display: block;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

.class-name {
    margin-top: 1rem;
}

.class-name p {
    margin-top: 1rem;
    padding-bottom: 1rem;
}
