/*This is the body*/

body {
    background-color: darkgoldenrod;
    color: white;
    font-family: monospace;
    font-size: 1.25rem;
}


/*This is the navigation bar*/

nav {
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
}

li {
    float: left;
}

.header-a {
    font-weight: bold;
    padding-right: 60px;
    padding-left: 60px;
}

li a {
    display: block;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    color: darkgoldenrod;
    text-align: center;
    border-right: 2px solid white;
}

li a:hover {
    background-color: darkgoldenrod;
    color: white;
}

.active {
    background-color: maroon;
    color: darkgoldenrod;
}

.header-a:hover {
    background-color: darkslategray;
    color: darkgoldenrod;
    text-decoration: underline;
}


/*This is the end of the navigation bar*/


/*This is the student block*/

.student {
    margin-top: 60px;
    width: 50%;
    background-color: darkslategray;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
}

.student-info p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#student-name,
h3 {
    background-color: maroon;
    color: darkgoldenrod;
    text-align: center;
    font-weight: bold;
}

.info-details {
    font-weight: bold;
    color: darkgoldenrod;
}


/*This is the student image block*/

.student-img {
    width: 25%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: maroon;
}

#student-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*This is the end of the student image block*/


/*This is the end of the student block*/


/*This is the general ed block*/
.liberal-arts-core {
    background-color: darkslategray;
    border: 2px solid white;
    margin-top: 40px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.bible {
    float: left;
    width: 50%;
}

.basic-skills {
    float: right;
    width: 50%;
}

.perspective {
    clear: both;
    width: 50%;
}

.bible p,
.basic-skills p,
.perspective p {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

h4{
    margin-left: 10px;
}

/*This is the end of the general eb block*/

footer{
    text-align: center;
    border: 2px solid white;
    margin-top: 20px;
    font-weight: bold;
}